body
{
    text-align: center;
    margin: 0;
    background-color: #e8f044;
    font-family: 'Raleway', sans-serif;
    -ms-overflow-style: none;
    animation: fade-in 2.5s ease;
}

body::-webkit-scrollbar 
{
    display: none;
}

h1
{
    font-weight: normal;
    font-size: 4rem;
}



td
{
    padding-top: 60px;
    padding-bottom: 60px;
}


.centre
{
    margin-left: 25vw;
    margin-right: 25vw;
}

.birds
{
    position: absolute;
    left: 0;
    top: 300px;
    width: 30vw;
    z-index: -1;
}

.birds-mirror
{
    position: absolute;
    top: 2000px;
    right: 0;
    width: 30vw;
    z-index: -1;
}

.cloud
{
    position: absolute;
    right: 10vw;
    top: 1000px;
    width: 10vw;
    z-index: -1;
}

.head
{
    font-weight: normal;
    font-size: 3rem;
}

.img
{
    width: 10vw;
    margin: 15px;
    border-radius: 100%;
}

.img:hover
{
    width: 15vw;
    transition: 0.5s ease-in;
}

.left
{
    text-align: left;
}

.link
{
    margin: 0 2% 0 2%;
    color: #000;
    text-decoration: none;
    opacity: 1;
}

.link:hover
{
    transition: 0.3s ease-in-out;
    font-size: 1.5rem;
}

.right
{
    text-align: right;
}


.topnav 
{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #e8f044;
    border-bottom: 1px solid #000;
    padding-top: 7px;
    padding-bottom: 7px;
    
}

.topnav:hover
{
    transition: 0.3s ease-in;
    background-color: #000;
}

.topnav:hover .link
{
    transition: 0.3s ease-in;
    color: #fff;
}


@keyframes fade-in
{
    from
    {
        opacity: 0;
        height: 1rem;
    }
    to
    {
        opacity: 1;
        height: 10rem;
    }
}