body
{
    background-color: #b2ebf2;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;

    animation: fade-in 2.5s ease;
}

body::-webkit-scrollbar 
{
    display: none;
}

h2
{
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 4rem;
}

h3
{
    font-family: 'Raleway', sans-serif;

}

p
{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}   


.img
{
    
    width: 20vw;
    margin: 15px;
}

.link
{
    margin: 0 2% 0 2%;
    color: #000;
    text-decoration: none;
    opacity: 1;
}

.link:hover
{
    transition: 1s ease-in-out;
    font-size: 1.5rem;
}

.skill-row
{
    padding: 0 25% 0 25%;
}

.topnav 
{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #b2ebf2;
    border-bottom: 1px solid #000;
    padding-top: 7px;
    padding-bottom: 7px;
    
}

.topnav:hover
{
    transition: 1s ease-in;
    background-color: #000;
}

.topnav:hover .link
{
    transition: 1s ease-in;
    color: #fff;
}


@keyframes fade-in
{
    from
    {
        opacity: 0;
        height: 1rem;
    }
    to
    {
        opacity: 1;
        height: 10rem;
    }
}